html {
	height: 100%;
}
/*BODY*/
body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: black;
	font-family: 'Quicksand', sans-serif;
	color: rgba(0,0,0,.5); 
}

/*NAVBAR*/
#navbar {
	/*Design taken from //*http://www.flatuicolorpicker.com/*/
	overflow: hidden;
	box-shadow: 0em 0.375em 1em .1em rgba(0, 0, 0, 0.1);
}
nav {
	/*centering using flex*/
	display: flex;
	justify-content: center;
}
nav a {
	display: inline;
	color: rgba(0,0,0,.5);
	font-weight: 800; 
	font-family: Quicksand, sans-serif;
	text-transform: uppercase;
	padding: 3vh; 
}
nav a:link {
    border-bottom: none;
    text-decoration: none;
}
nav img {
	width: 6.5vw;
}
.other-links {
	margin-top: 2vh;
}

/*CENTERING TEXT*/
#about {
	height: 100vh;
	margin-top: -14vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
p {
	text-align: justify;
	line-height: 1.8;
	margin-left: auto;
    margin-right: auto;
    width: 80vh;
}