html {
	height: 100%;
}
/*BODY*/
body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: black;
	font-family: 'Quicksand', sans-serif;
	color: rgba(0,0,0,.5); 
}

/*NAVBAR*/
#navbar {
	/*Design taken from //*http://www.flatuicolorpicker.com/*/
	overflow: hidden;
	box-shadow: 0em 0.375em 1em .1em rgba(0, 0, 0, 0.1);
}
nav {
	/*centering*/
	display: flex;
	justify-content: center;
}
nav a {
	display: inline;
	color: rgba(0,0,0,.5);
	font-weight: 800; 
	font-family: Quicksand, sans-serif;
	text-transform: uppercase;
	padding: 3vh; 
}
nav a:link {
    border-bottom: none;
    text-decoration: none;
}
nav img {
	width: 6.5vw;
}
.other-links {
	margin-top: 2vh;
}

/*SCENARIO*/
#scenario {
	line-height: 1.8;
	margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

/*OPTIONS*/
#options {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*BUTTON DESIGN*/
button {
	font-family:'Quicksand', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: rgba(0,0,0,.5);
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 30vw;
	height: 50vh;
	border-radius: 20px;
	border: 0px;
	background-color: rgba(232, 236, 241, 1);
	margin: 2vh;
}
button:hover {
	box-shadow: 0em 0.375em 1em .1em rgba(0, 0, 0, 0.1);
}
button:focus {
	/*https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome*/
	outline: 0; /*gets rid of the horrible blue outline*/
}

/*USER-RESULT*/
#user-result {
	height: 100vh;
	margin-top: -14vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	/*FADE-IN ANIMATION*/
	/*https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#user-result h1 {
	text-align: center;
}
#user-result p {
	padding-left: 60vh;
	padding-right: 60vh;
	line-height: 2em;
	text-align: justify;
}

/*LINKS*/
.play-button {
	margin-top: 2vh;
}
.active {
	margin: 4vh;
	padding: 2vh;
	text-decoration: none;
	color: rgba(0,0,0,.5);
	font-weight: 600;

	background-image: linear-gradient(120deg, rgba(232, 236, 241, 1) 0%, rgba(232, 236, 241, 1) 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 100%;
	transition: background-size 0.25s ease-in;
}
.active:hover {
	background-size: 100% 100%;
}

